/*---------------------------------------
			[VARIABLES]
---------------------------------------*/

body {
    overflow-x: hidden;
}

.background-hero{
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/background.jpg');
    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
    background-size: cover;
    overflow-x: hidden;
}
/* #576241 */
:root {
    --primary-color: #27352a;
    --secondary-color: #fff;
    --grey-color: #666;
    --dark-grey-color: #444;
    --light-grey-color: #DDD;
}

html {
    background: #fff;
    overflow-y: overlay;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    font-weight: bold;
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}

hr {
    width: 100%;
    border-bottom: 1px solid var(--dark-grey-color);
}

button:focus, button:active {
    outline: none;
}


/*---------------------------------------
			[FONTS]
---------------------------------------*/

.font-primary {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.font-secondary {
    line-height: 1.2em;
    font-family: 'JetBrains Mono', monospace;
}


/*---------------------------------------
			[BACKGROUND]
---------------------------------------*/

.background-hero-element {
    transform: translate(0px, 0px);
}

.background-primary {
    background-color: var(--primary-color);
}

.background-secondary {
    background-color: var(--secondary-color);
}

.background-grey {
    background-color: var(--grey-color);
}

.background-dark-grey {
    background-color: var(--dark-grey-color);
}

.background-light-grey {
    background-color: var(--light-grey-color);
}

.background-black {
    background-color: #000000;
}


/*---------------------------------------
			[COLORS]
---------------------------------------*/

.color-primary {
    color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-grey {
    color: var(--grey-color);
}

.color-dark-grey {
    color: var(--dark-grey-color);
}

.color-light-grey {
    color: var(--light-grey-color);
}


/*---------------------------------------
			[SCROLLBAR]
---------------------------------------*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 5px;
    transition: .5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}


/*---------------------------------------
			[OTHER]
---------------------------------------*/

.nav-item a{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    color: #222;
}

.vh-100 {
    height: 100vh;
}

.vertical-center {
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

.inner-shadow {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.shadow {
    color: var(--grey-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: .3s;
}

button.shadow:hover {
    color: var(--secondary-color);
    cursor: none !important;
    transform: translateY(3px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

button.shadow:active {
    color: var(--light-grey-color);
    cursor: none !important;
    transform: translateY(4px);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.rounded-corner {
    border-radius: 40px;
}

.rounded-corner-20 {
    border-radius: 20px;
}

.rounded-corner-10 {
    border-radius: 10px;
}

textarea.rounded-corner {
    border-radius: 27px;
}

.square {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 12em;
    width: 12em;
    transition: .5s;
}

.square:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.text-shadow {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.progress-bar {
    height: 100px;
    width: 100px;
}

.blur-10 {
    filter: blur(10px);
}

.blur-5 {
    filter: blur(5px);
}

.back-image {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#discord_toast .color-primary {
    color: #7289DA;
}

#discord_toast .color-dark-black {
    color: #23272A;
}

#discord_toast .color-black {
    color: #2C2F33;
}

#discord_toast .bg-color-primary {
    background-color: #7289DA;
}

#discord_toast .bg-color-dark-black {
    background-color: #23272A;
}

#discord_toast .bg-color-black {
    background-color: #2C2F33;
}

.cv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0em 2em;
    grid-template-areas:
      "contacts experience experience"
      "education skills skills"
      "languages languages languages";
    grid-auto-rows: minmax(min-content, max-content);
}

.cv hr{
    background:#222222;
    border: 0;
    height: 2px;
}

.photo {
    border-radius: 20px 0px 0px 20px;
}
.about-me { 
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.cv .contacts { grid-area: contacts; }
.cv .experience { grid-area: experience; }
.cv .education { grid-area: education; }
.cv .skills { grid-area: skills; }
.cv .languages { grid-area: languages; }

.cv .cell{
    padding: 2em;
}

/* .LI-profile-pic-container{
    border-radius: 20px 20px 0px 0px;
}
.LI-badge-container-vertical-dark{
    border-radius: 20px;
} */